<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
</style>

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.Nav-bar{
    text-align: end;
    list-style: none;
    
    background-color: #07075c;
    color: aliceblue;
}
li {
    display:inline-block;
    margin: 25px;
    font-size: 1rem;
    padding: 10px 5px; 
    cursor: pointer;
}
li:hover {
    color: darkcyan;
   }